* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;

}

/* Header Styling */

header nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.dropbtn {
    border: none;
    background-color: white;
    font-size: 17px;
    color: black;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 25px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    color: rgba(0, 0, 0, 0.355);
}



header nav ul li {
    list-style-type: none;
    font-size: 17px;
    cursor: pointer;
}

.btn {
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #081158;
    border: 1px solid #081158;
    font-size: 17px;
    color: #FBB244;
    transition: 0.5s;
}

.btn:hover {
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    padding: 10px 30px;
}

header nav div {
    display: flex;
    justify-content: center;
    align-items: center;

}

.humburgerMenu {
    display: none;
}

/* Hero Section Styling */

.hero-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 70px;
    padding: 30px 80px;
}

.title span{
    font-size: 16px;
    padding: 13px;
    background-color: #FEF0DA;
    border-radius: 50px;
    color: #FBB244;
    font-weight: 600;
}

.title h1{
    font-size: 50px;
    margin-top: 30px;
    color: #081158;
    line-height: 60px;
    margin-bottom: 25px;
}

.title p {
    font-size: 17px;
    line-height: 25px;
    color: rgb(132, 132, 132);
}

.button-box{
    display: flex;
    gap: 20px;
}

.button-box button{
    padding: 20px 40px; 
    margin-top: 30px;
    border-radius: 50px;
    border: 1px solid #081158;
    font-size: 20px;
    display: flex;
    cursor: pointer;
    background-color: #081158;
    color: white;
    transition: 0.5s;
}

.btn2{
    background-color: white !important;
    color: #081158 !important;
}

.btn2:hover{
    background-color: #081158 !important;
    color: white !important;
}

.btn1:hover{
   background-color: white;
   color: #081158;
}

.image img{
    width: 700px;
}

@media screen and (max-width: 767px) {
    .humburgerMenu {
        display: block;
        width: 40px;
        
    }

    #navigationMenu {
        display: none;
    }

    header nav {
        padding: 20px;
        display: block;
    }

    header nav div {
        justify-content: space-between;
    }

    #navigationMenu {
        background-color: #081158;
        color: white;
        padding: 31px;
    }

    #navigationMenu li {
        padding: 30px;
        text-align: center;
    }

    .dropdown {
        margin-left: 145px;
        background: #081158;
    }

    .dropbtn {
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: #081158;
        color: white;
    }

    .btn {
        margin-left: 93px;
    }

    .dropdown-content {
        background-color: white;
        top: 50px;
    }

}